html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding: 5rem;
  font-size: 5rem;
}

#new-task-form {
  display: flex;
  gap: 1rem;
}

#new-task-title {
  font-size: 3rem;
}

#new-task-form button {
  font-size: 3rem;
}

#list {
  list-style: none;
}

#list li input {
  height: 5rem;
}
